<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rtux>
            <general>
                <status>0</status>
            </general>
            <tracker>
                <status>0</status>
            </tracker>
            <api>
                <test>0</test>
                <dev>0</dev>
            </api>
        </rtux>
    </default>
</config>
