<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--
    <preference for="Magento\Catalog\Block\Product\ListProduct" type="Boxalino\RealTimeUserExperience\Block\Catalog\Product\ApiListProduct" />
    <preference for="Magento\Catalog\Block\Product\ProductList\Toolbar" type="Boxalino\RealTimeUserExperience\Block\Catalog\Product\ProductList\Toolbar"/>
    <preference for="Magento\Catalog\Block\Product\ProductList\Related" type="Boxalino\RealTimeUserExperience\Block\Catalog\Product\ProductList\ApiRelated"/>
    <preference for="Magento\Catalog\Block\Product\ProductList\Upsell" type="Boxalino\RealTimeUserExperience\Block\Catalog\Product\ProductList\ApiUpsell"/>
    <preference for="Magento\Catalog\Block\Product\ProductList\Crosssell" type="Boxalino\RealTimeUserExperience\Block\Catalog\Product\ProductList\ApiCrosssell"/>
    <preference for="Magento\Checkout\Block\Cart\Crosssell" type="Boxalino\RealTimeUserExperience\Block\Checkout\Cart\ApiCrosssell" />

    <preference for="Magento\CatalogSearch\Block\Result" type="Boxalino\RealTimeUserExperience\Block\CatalogSearch\ApiResult" />
    <preference for="Magento\CatalogSearch\Controller\Result\Index" type="Boxalino\RealTimeUserExperience\Controller\CatalogSearch\Result\Index"/>
    -->

    <preference for="Boxalino\RealTimeUserExperienceApi\Service\Api\Util\ConfigurationInterface"
                type="Boxalino\RealTimeUserExperience\Helper\Api\Configuration"/>
    <preference for="Boxalino\RealTimeUserExperienceApi\Framework\Content\Page\ApiResponsePageInterface"
             type="Boxalino\RealTimeUserExperience\Model\Response\Page\ApiResponsePage"/>
    <preference for="Boxalino\RealTimeUserExperienceApi\Service\Api\Request\RequestTransformerInterface"
             type="Boxalino\RealTimeUserExperience\Framework\Request\RequestTransformer"/>

</config>
